/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #2C2C2C; /* Темный фон */
    color: white; /* Белый текст */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px; /* Максимальная ширина контейнера */
    margin: 50px auto; /* Центрирование контейнера */
    padding: 20px;
    background-color: #3C3C3C; /* Темный серый фон контейнера */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Тень */
}

header h1 {
    text-align: center;
    color: #A832B0; /* Фиолетовый цвет для заголовков */
}

.form-group {
    margin-bottom: 15px; /* Отступ между группами */
}

label {
    display: block; /* Блочный элемент */
    margin-bottom: 5px; /* Отступ снизу */
    color: #A832B0; /* Фиолетовый цвет для текста метки */
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Ширина 100% */
    padding: 10px; /* Внутренний отступ */
    border: 1px solid #ddd; /* Светло-серая рамка */
    border-radius: 4px; /* Закругленные углы */
    background-color: #4C4C4C; /* Темно-серый фон полей ввода */
    color: white; /* Белый текст в полях ввода */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #A832B0; /* Фиолетовая рамка при фокусе */
}

.button {
    display: inline-block; /* Инлайн-блок для кнопок */
    padding: 10px 15px; /* Внутренний отступ */
    color: #A832B0; /* Фиолетовый текст для кнопок */
    background-color: white; /* Белый фон кнопок */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы */
    text-align: center; /* Выравнивание по центру */
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer; /* Курсор в виде руки */
    margin-top: 10px; /* Отступ сверху */
    width: 100%; /* Ширина кнопок 100% */
}

.button:hover {
    background-color: #f0f0f0; /* Изменение фона при наведении */
}

.buttons {
    text-align: center; /* Центрирование кнопок */
    margin-top: 20px; /* Добавить отступ сверху для пространства */
}

/* Стили для ошибки */
.error {
    color: red; /* Красный цвет для сообщений об ошибках */
    text-align: center; /* Центрирование текста ошибки */
    margin-top: 10px; /* Отступ сверху */
}
